link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css")

div.container
  include header.pug
  img(src='https://s3.amazonaws.com/kir.chekalin/foo/%D0%94%D1%80%D0%BE%D1%84%D0%B02.webp')

style
  include ../public/style.css
