div.btn-group
  button(class="btn btn-primary" id="btnCreate") Create
  button(class="btn btn-primary" id="btnRead") Read
  button(class="btn btn-primary" id="btnUpdate") Update
  button(class="btn btn-primary" id="btnDelete") Delete
