.input-group.mb-3
	input.form-control(id='newUser' type='text', placeholder="Input name", aria-label="Recipient's username", aria-describedby='basic-addon2')
	.input-group-append
		button.btn.btn-outline-secondary(id='addUser' type='button') Add user
